		a{
			text-decoration: none;	
		}
		
		.row{
			width: 100%;
		}
		.topbar{
			width: 100%;
			background-color: grey;
			min-height: 83px;

		}
		.topbar .topbar-left{
			float: left;
			width: 70%;
			display: flex;
		}
		.topbar .topbar-right{
			float: left;
			width: 25%;
			text-align: right;
			padding-top: 15px;
		}
		.topbar .topbar-right img{
			float: left;
			padding: 5px;
			margin-right: 5px;

		}
		.main{
			width: 100%;
			display: block;
		}
		.topbar ul {
			list-style-type: none;
			display: flex;
		}
		.topbar ul li{
			float: left;
			padding: 10px;
			margin: 5px;
			color: white;
		}
		.topbar .topbar-left img{
			float: left;
			padding: 15px;
			margin-left: 8px;
		}
		.main-left{
			float: left;
			width: 20%;	
			background-color: #a59e9e;
			min-height: 300px;
			margin-left: 20px;
		}
		.main-main{
			float: left;
			width: 60%;	
			min-height: 800px;
		}
		.main-right{
			float: left;
			width: 20%;
			min-height: 200px;
		}
		.footer{
			float: left;
			text-align: center;
			width: 100%;
			background-color: grey;
			min-height: 300px;
		}
		.main-left ul{
			list-style-type: none;
		}
		.main-left ul li{
			float: left;
			padding: 12px;
			margin-left: -12px;  
		}

		.main .main-main .img{
			float: left;
			margin-left: 60px;
		}
		.main .main-left .aaa a{
			color: white;
		}
		.dropdown{
			position: absolute;
			display: inline-block;
		}
		.dropdown-content{
			display: none;
	 		position: absolute;
			background-color: #f9f9f9;
		  	min-width: 160px;
  			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  			z-index: 1;
		}